# {{ ansible_managed }}
check process memcached with pidfile /var/run/memcached.pid
    start program = "/etc/init.d/memcached start"
    stop program = "/etc/init.d/memcached stop"
{% if monit_memcached_rules is defined %}
{% for rule in monit_memcached_rules %}
    {{ rule }}
{% endfor %}
{% endif %}
{% if monit_memcached_groups is defined %}
{% for group in monit_memcached_groups %}
    group {{ group }}
{% endfor %}
{% endif %}
